[submodule "vendor/nimbus-build-system"]
	path = vendor/nimbus-build-system
	url = https://github.com/status-im/nimbus-build-system
[submodule "vendor/status-go"]
	path = vendor/status-go
	url = https://github.com/status-im/status-go
[submodule "vendor/nim-json-serialization"]
	path = vendor/nim-json-serialization
	url = https://github.com/status-im/nim-json-serialization.git
[submodule "vendor/nim-serialization"]
	path = vendor/nim-serialization
	url = https://github.com/status-im/nim-serialization.git
[submodule "vendor/nim-chronicles"]
	path = vendor/nim-chronicles
	url = https://github.com/status-im/nim-chronicles.git
[submodule "vendor/nim-status-go"]
	path = vendor/nim-status-go
	url = https://github.com/status-im/nim-status-go.git
[submodule "vendor/nim-stint"]
	path = vendor/nim-stint
	url = https://github.com/status-im/nim-stint.git
[submodule "vendor/nim-keycard-go"]
	path = vendor/nim-keycard-go
	url = https://github.com/status-im/nim-keycard-go
